<!DOCTYPE html>
<html>
  <head>
    <title>Ember &amp; Rails</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

      body { font-family: 'Droid Serif'; }
      h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
      }
      a {
        text-decoration: none;
      }
      .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

      iframe {
        min-height: 450px !important;
      }
    </style>
  </head>
  <body>
    <textarea id="source">

class: center, middle

# Ember &amp; Rails

---

class: center, middle

## &lt; script &gt;
## [`ember-rails`](https://github.com/emberjs/ember-rails)
## [`ember-cli`](https://github.com/ember-cli/ember-cli)
## [`ember-cli-rails`](https://github.com/rwz/ember-cli-rails)

---

class: center, middle

# &lt; script &gt;

---

layout: true

# &lt; script &gt;

---

<a class="jsbin-embed" href="http://emberjs.jsbin.com/neweva/1/embed?html,js,output">JS Bin</a>

---

## required

* [`jquery`](http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js)
* [`ember-template-compiler`](http://builds.emberjs.com/tags/v1.10.0/ember-template-compiler.js)
* [`ember.js`](http://builds.emberjs.com/release/ember.js)

### Optional

* [`ember-data.js`](http://builds.emberjs.com/canary/ember-data.js)

---

layout: false

# &lt; script &gt; 👍

* Simple
* Static
* Separation of Client and Server
* Easy to deploy
  * GitHub pages
  * Upload to S3, serve over Cloudfront CDN
  * FTP to your GeoCities page
  * Serve from Rails' `public/` directory

---

# &lt; script &gt; 👎

* Everything is exposed on `window`
* Difficult to maintain
* Difficult to extend with plugins / addons
* No build step
  * No minification / concatenation / uglification / etc.
* No first class test support
* API via Cross-Origin Resource Sharing
  * [not yet *fully* supported on all platforms](http://caniuse.com/#feat=cors)

---

class: center, middle

# ember-rails

---

layout: true

# ember-rails

---

`Gemfile`:

```ruby
gem "ember-rails"
gem "ember-source", "1.10.0"
gem "ember-data-source", "1.0.0.beta.15" # optional
```

```console
$ rails generate ember:install --app-name app
```

```console
$ tree app/assets/javascripts

├── application.js
├── adapters
├── components
├── controllers
├── helpers
├── mixins
├── models
├── router.js
├── routes
├── store.js
├── templates
│   └── components
└── views
```

---

`app/assets/javascripts/application.js`:

```javascript
//= require jquery
//= require jquery_ujs
//= require handlebars
//= require ember
//= require ember-data
//= require_self
//= require ./app

window.App = Ember.Application.create();
```

`app/assets/javascripts/app.js`:

```javascript
//= require_tree ./adapters
//= require_tree ./mixins
//= require_tree ./models
//= require_tree ./controllers
//= require_tree ./views
//= require_tree ./helpers
//= require_tree ./components
//= require_tree ./templates
//= require_tree ./routes
//= require ./router
//= require_self
```

---

`app/views/layouts/application.html.erb`:

```erb
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>
  <%= javascript_include_tag "application" %>
</body>
</html>
```

---

`config/routes.rb`:

```ruby
MyApplication::Application.routes.draw do
  # route all requests to Ember
  get "*ember" =&gt; "ember#index"
end
```

`app/controllers/ember_controller.rb`:

```ruby
class EmberController &lt; ApplicationController
  def index
    render nothing: true, layout: "application"
  end
end
```
---

layout: true

# ember-rails: libraries and addons

---

`Gemfile`:

```ruby
source "https://rails-assets.org" do
  gem "rails-assets-jquery-ui"
end
```

`app/assets/javascripts/application.js`:

```javascript
//= require jquery-ui/ui/datepicker
```

`app/assets/stylesheets/application.css`:

```css
/*
 *= require jquery-ui/themes/base/datepicker.css
 */
```

---

`app/assets/javascripts/app/components/ui-datepicker.js`:

```javascript
App.UiDatepickerComponent = Ember.Component.extend({
  tagName: "input",

  setupDatepicker: function() {
    this.$().datepicker();
  }.on("didInsertElement"),
});
```

`app/assets/javascripts/app/templates/schedule.hbs`:

```hbs
{{ui-datepicker value=model.startDate}}
```

---

layout: true

# ember-rails &amp; test_squad

---

```ruby
source "https://rails-assets.org" do
  gem "rails-assets-qunit"
end

group :development, :test do
  gem "test_squad"
end
```

```console
$ rails generate test_squad:install --framework ember
```

```console
$ tree spec/javascript

├── acceptance
├── components
├── models
├── routes
├── test_helper.js
├── test_squad.rb
├── unit
└── views
```

---

`spec/javascript/test_squad.rb`:

```ruby
TestSquad.configure do |config|
  config.framework = "ember"
end
```

`spec/javascript/test_helper.js`:

```javascript
//= require application
//= require_self
//= require_tree ./acceptance
//= require_tree ./components
//= require_tree ./models
//= require_tree ./routes
//= require_tree ./unit
//= require_tree ./views

// Set up Ember testing.
App.rootElement = "#ember-testing";
App.setupForTesting();
App.injectTestHelpers();
```

---

`spec/javascript/unit/foo_test.js`:

```javascript
module('The answer to life the universe and everything', {});

test('the answer is 42', function(assert) {
  assert.equal(7 * 6, 42);
});
```

```console
$ open http://localhost:3000/tests
```

<img src="https://github.com/fnando/test_squad/raw/master/screenshots/qunit.png" alt="test squad">

---

layout: true

# ember-rails &amp; capybara

---

`spec/features/user_does_something_spec.rb`:

```ruby
feature "User does something", :js do
  scenario "inside of ember" do
    visit "/"

    expect(page).to have_content("Hello World from Ember!")
  end
end
```

---
layout: false

# ember-rails: test_squad &amp; capybara

`Rakefile`:

```ruby
require File.expand_path('../config/application', __FILE__)

MyApp::Application.load_tasks

task default: [:spec, :test_squad]
```

---

layout: false

# ember-rails 👍

* Deep integration with Sprockets &amp; the Asset Pipeline
* No change to your deployment process
* Enables true end-to-end testing with JavaScript enabled feature tests

---

# ember-rails 👎

* No strict conventions
  * Just Sprockets
* Everything is exposed on `window`
* Unlikely to benefit from innovation in the community
  * Ember leadership focussed on EmberCLI
  * Integrating with EmberCLI addon ecosystem is tedious
* Front-end code buried in `app/assets/javascripts`
* No separation between Client and Server

---

class: center, middle

# ember-cli

---

# ember-cli

```console
$ brew install npm
$ brew install nvm
$ nvm install 0.12.0
```

```console
$ npm install -g bower
$ npm install -g ember-cli@0.2.0
```

```console
$ ember new my-app
$ tree my-app/app
├── app.js
├── components
├── controllers
├── helpers
├── index.html
├── models
├── router.js
├── routes
├── styles
│   └── app.css
├── templates
│   ├── application.hbs
│   └── components
└── views
```

---

# ember-cli: libraries and addons

## [`EmberAddons`](http://www.emberaddons.com/?query=jquery-ui)

```console
$ ember install:addon ember-cli-jquery-ui
```

`Brocfile.js`:

```javascript
var app = new EmberApp({
  "ember-cli-jquery-ui": { "theme": "ui-darkness" },
});
```

`app/templates/schedule.hbs`:

```hbs
{{jqui-datepicker value=model.startDate}}
```

---

layout: true

# ember-cli &amp; Rails API

---

`config/environment.js`:

```javascript
module.exports = function(environment) {
  // ... other environment setup ...
  if (environment === "development") {
    ENV.APP.API_HOST = "http://localhost:3000";
  }

  if (environment === "production") {
    ENV.APP.API_HOST = "https://api.example.com";
  }
};
```

`app/adapters/application.js`:

```javascript
import DS from "ember-data";
import ENV from "../../config/environment";

export default DS.ActiveModelAdapter({
  host: ENV.APP.API_HOST,

  headers: {
    HTTP_AUTHORIZATION: 'Token token="abc", nonce="def"',
  }
});
```

---

`Start Rails server`:

```console
$ bin/rails server --port 3000
```

`Start Ember server`:

```console
$ ember server
```

`Browse Ember app`:

```console
$ open http://localhost:4200
```

---

layout: false

# ember-cli tests

`Test in the console:`

```console
$ ember test --server
$ open http://localhost:7357
```

`Test in the browser:`

```console
$ ember server
$ open http://localhost:4200/tests
```

`Continuous Integration:`

```console
$ npm test
```

---

# ember-cli deployments: [`heroku`](https://github.com/tonycoco/heroku-buildpack-ember-cli)

```console
$ heroku create
$ heroku config:set BUILDPACK_URL=https://github.com/tonycoco/heroku-buildpack-ember-cli.git
$ git push heroku master
```

## 👍

* Simple
* Free (for the time being)
* Future integration with FastBoot?

## 👎

* Serving static files from a web process is inefficient
* No CDN support out of the box
* Deploys are lengthy due to installing dependencies and compiling assets

---

# ember-cli deployments: [`divshot`](https://divshot.com/)

```console
$ npm install -g divshot
$ divshot login
$ ember install:addon ember-cli-divshot
$ ember divshot push production
```

## 👍

* Simple
* Free (for low-bandwidth apps)
* Integrated Platform (think Heroku, for static sites)

## 👎

* Can't integrate with FastBoot

---

# ember-cli deployments: [`ember-cli-deploy`](https://github.com/ember-cli/ember-cli-deploy)

```console
$ ember install:addon ember-cli-deploy
$ ember deploy
```

```console
$ open http://example.com/app?revision=my-app:$SHA
$ ember deploy:activate $SHA
```

## 👍

* Maintained by `ember-cli` core team
* Adapter pattern for deploys

## 👎

* Recently merged 3 competing solutions. Details are still in flux
* Only official support for Redis / S3 deployments

---

layout: false
class: center, middle

# ember-cli-rails

---

layout: true

# ember-cli-rails

---

`Gemfile`:

```ruby
gem "ember-cli-rails"
```

`config/initializers/ember-cli.rb`:

```ruby
EmberCLI.configure do |config|
 config.app :frontend, path: Rails.root.join("frontend")
end
```

```console
$ ember new frontend
$ npm install --save-dev ember-cli-rails-addon@0.0.11
```

---

`config/routes.rb`:

```ruby
MyApplication::Application.routes.draw do
  root "application#index"
end
```

`app/views/application/index.html.erb`:

```erb
<%= include_ember_script_tags :frontend %>
<%= include_ember_stylesheet_tags :frontend %>
```

---

layout: false

# ember-cli-rails testing

`config/routes.rb`:

```ruby
MyApplication::Application.routes.draw do
  if Rails.env.development?
    mount EmberCLI::Engine =&gt; "tests"
  end
end
```

```console
$ open http://localhost:3000/tests/frontend
```

<img src="https://github.com/fnando/test_squad/raw/master/screenshots/qunit.png" alt="test squad">

---

# ember-cli-rails &amp; capybara

```ruby
feature "User does something", :js do
  scenario "inside of ember" do
    visit "/"

    expect(page).to have_content("Hello World from Ember!")
  end
end
```

---

# ember-cli-rails &amp; [heroku][heroku-example]

`.buildpacks`:

```console
https://github.com/heroku/heroku-buildpack-nodejs.git#v68
https://github.com/heroku/heroku-buildpack-ruby.git#v129
```

`Gemfile`:

```ruby
gem "rails_12factor", group: :production
```

```console
$ heroku create
$ heroku config:add BUILDPACK_URL=https://github.com/heroku/heroku-buildpack-multi.git
$ heroku config:add NPM_CONFIG_PRODUCTION=false
```

---

# ember-cli-rails &amp; [heroku][heroku-example]

[`package.json`](https://github.com/heroku/heroku-buildpack-nodejs/pull/203):

```json
{
  "cache_directories": ["frontend/bower_components", "frontend/node_modules"]
}
```

`frontend/package.json`:

```json

{
  "scripts": {
    "postinstall": "node_modules/.bin/bower install"
  },
  "devDependencies": {
    "bower": "*"
  }
}
```

```console
$ git push heroku master
```

[heroku-example]: https://github.com/seanpdoyle/ember-cli-rails-heroku-example


    </textarea>
    <script src="http://static.jsbin.com/js/embed.js"></script>
    <script src="https://gnab.github.io/remark/downloads/remark-latest.min.js">
    </script>
    <script>
      var slideshow = remark.create({
        ratio: "16:9",
        navigation: {
          scroll: false,
        }
      });
    </script>
  </body>
</html>
